parameters:
    level: 8
    checkMissingIterableValueType: false
    paths:
        - src
    # excludes_analyse:
        # - src/DataFixture
    ignoreErrors:
        -
            message: '|Call to an undefined method object::setArticle\(\).|'
            path: src\DataFixtures\ArticleFixtures.php
        -
            message: '|Parameter #1 \$author of method App\\Entity\\Article::setAuthor\(\) expects App\\Entity\\Author|null, object given.|'
            path: src\DataFixtures\ArticleFixtures.php
        -
            message: '|Parameter #1 \$category of method App\\Entity\\Article::addCategory\(\) expects App\\Entity\\Category, object given.|'
            path: src\DataFixtures\ArticleFixtures.php
        -
            message: '|Parameter #1 \$picture of method App\\Entity\\Article::setPicture\(\) expects App\\Entity\\Picture, object given.|'
            path: src\DataFixtures\ArticleFixtures.php
        -
            message: '|Call to an undefined method Faker\\Generator::email\(\).|'
            path: src\DataFixtures\UserFixtures.php
        -
            message: '~Parameter #1 \$author of method App\\Entity\\User::setAuthor\(\) expects App\\Entity\\Author\|null, object given.~'
            path: src\DataFixtures\UserFixtures.php
        -
            message: '~Parameter #2 \$callback of function array_filter expects callable\(mixed, mixed\): bool, Closure\(mixed\): string\|false given.~'
            path: src\Controller\UserAccountAreaController.php

    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false