parameters:
    level: 8
    paths:
        - src
    # excludes_analyse:
        # - src/DataFixture
    ignoreErrors:
        - '|Call to an undefined method object::setArticle\(\).|'
        - '|Parameter #1 \$author of method App\\Entity\\Article::setAuthor\(\) expects App\\Entity\\Author, object given.|'
        - '|Parameter #1 \$category of method App\\Entity\\Article::addCategory\(\) expects App\\Entity\\Category, object given.|'
        - '|Parameter #1 \$pictures of method App\\Entity\\Article::setPicture\(\) expects App\\Entity\\Picture, object given.|'
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false